<!-- Navbar -->

<nav class="shift">
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "About Me", about_path %>
    </li>
    <li>
      <%= link_to "Articles", articles_path %>
    </li>
    <li>
      <%= link_to "Projects", projects_path %>
    </li>
    <li>
      <%= link_to "Music", music_path %>
    </li>
  </ul>
</nav>

<!-- Navbar -->

<div class="about-content-page">

</div>
