<div class="whole-page">

  <!-- <img src="https://image.architonic.com/pro2-3/20083830/19501-a-faint-blush-19501-01-pro-b-arcit18.jpg" /> -->

  <!-- Navbar -->

 <!--  <nav class="shift">
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "About Me", about_path %>
      </li>
      <li>
        <%= link_to "Articles", articles_path %>
      </li>
      <li>
        <%= link_to "Projects", projects_path %>
      </li>
      <li>
        <%= link_to "Music", music_path %>
      </li>
    </ul>
  </nav>
 -->
  <!-- Navbar -->

  <div class="home-content-page">

    <script type="text/javascript" src="//use.typekit.net/qqh1pgl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <h1>
      By Louis Choo-Choy.
    </h1>

      <div class="wrapper">
        <div class="features">
          <article>
            <a href="#">
              <h3>InfoHub.</h3>
              <p class="meta">
              </p>
              <div class="thumbnail" style="background-image: url(https://cdn.pixabay.com/photo/2016/11/06/10/38/old-1802683_1280.jpg);"></div>
            </a>
          </article>

          <article>
            <%= link_to about_path do %>
              <h3>About.</h3>
              <p class="meta">
              </p>
              <div class="thumbnail" style="background-image: url(https://cdn.pixabay.com/photo/2014/11/19/23/39/paris-538445_1280.jpg);"></div>
            <% end %>
          </article>

          <article>
            <%= link_to articles_path do %>
              <h3>Articles.</h3>
              <p class="meta">
              </p>
              <div class="thumbnail" style="background-image: url(https://cdn.pixabay.com/photo/2020/03/23/16/45/compass-4961383_1280.jpg);"></div>
            <% end %>
          </article>

          <article>
            <%= link_to projects_path do %>
              <h3>Projects.</h3>
              <p class="meta">
              </p>
              <div class="thumbnail" style="background-image: url(https://cdn.pixabay.com/photo/2016/09/16/21/46/background-1675212_1280.jpg);"></div>
            <% end %>
          </article>

          <article>
            <%= link_to music_path do %>
              <h3>Music.</h3>
              <p class="meta">
              </p>
              <div class="thumbnail" style="background-image: url(https://cdn.pixabay.com/photo/2018/05/17/15/24/armillar-ball-3408811_1280.jpg);"></div>
            <% end %>
          </article>

          <article>
            <a href="#">
              <h3>Books.</h3>
              <p class="meta">
              </p>
              <div class="thumbnail" style="background-image: url(https://render.fineartamerica.com/images/images-profile-flow/400/images-medium-large-5/antique-map-of-africa-by-abraham-ortelius-1570-blue-monocle.jpg);"></div>
            </a>
          </article>

          <article>
            <a href="#">
              <h3>Contact.</h3>
              <p class="meta">
              </p>
              <div class="thumbnail" style="background-image: url(https://render.fineartamerica.com/images/images-profile-flow/400/images-medium-large-5/antique-map-of-europe-by-arnoldo-di-arnoldi-circa-1600-blue-monocle.jpg);"></div>
            </a>
          </article>
        </div>
      </div>
  </div>

</div>

<script src='application.js'></script>

