<!-- Navbar -->

<nav class="shift">
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "About", about_path %>
    </li>
    <li>
      <%= link_to "Articles", articles_path %>
    </li>
    <li>
      <%= link_to "Projects", projects_path %>
    </li>
    <li>
      <%= link_to "Music", music_path %>
    </li>
    <li>
      <%= link_to "Books", books_path %>
    </li>
    <li>
      <%= link_to "Infohub", infohub_path %>
    </li>
    <li>
      <%= link_to "Contact", contact_path %>
    </li>
  </ul>
</nav>

<!-- Navbar -->

<div class="infohub-content-page">

</div>
